body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}

.myBrand {
  font-family: "Kanit", sans-serif;
  padding-left: 10px;
}

.dark__mode__moon {
  margin: 10px 26px;
  align-items: baseline;
}

.greeting {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 100px;
  background-image: url(/images/school-6144054_1920.png),
    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.greeting-text h1,
p {
  color: #722b06;
}

.funBorder {
  min-width: 300px;
  border: 10px solid black;
  border-radius: 15px;
}

.greeting h1 {
  font-size: 3.25rem;
  font-weight: 600;
}

.skill {
  background-repeat: no-repeat;
  background-position: center;
  max-width: 200px;
  padding: 100px 20px;
}

.skill-html {
  background-image: url(/images/logos/128px-HTML5_logo.png);
}
.skill-css {
  background-image: url(/images/logos/CSS3_logo.png);

}
.skill-bootstrap {
  background-image: url(/images/logos/bootstrap-logo.svg);
  background-size: contain;
}
.skill-javascript {
  background-image: url(/images/logos/256px-JavaScript-logo.png);
  background-size: contain;
}
.skill-github {
  background-image: url(/images/logos/Octocat.png);
  background-size: contain;
}
.skill-netlify {
  background-image: url(/images/logos/Netlify_logo.svg);
}
.skill-react {
  background-image: url(/images/logos/React-icon.png);
}
.skill-shecodes {
  background-image: url(/images/logos/128px-HTML5_logo.png);
}
