body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kanit", sans-serif;
}

.dark__mode__moon {
  margin: 10px 26px;
  align-items: baseline;
}

.greeting {
  margin-bottom: 100px;
}

.funBorder {
  min-width: 300px;
  border: 10px solid black;
  border-radius: 15px;
}

/* .picBorder{
   border: 3px double white;
  border-radius: 15px;
} */
