:root {
  --main-white-color: #f8fcfd;
  --main-black-color: #404040;
  --secondary-black-color: #272727;
  --main-yellow-color: #f5ee9e;
  --secondary-yellow-color: #f0d43a;
  --main-burgundy-color: #b3679b;
  --main-orange-color: #f45d01;
  --main-blue-color: #22b2da;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
li {
  font-family: "Kanit", sans-serif;
  color: var(--main-black-color);
}

a {
  color: var(--main-black-color) !important;
  outline: none;
  text-decoration: none !important;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: var(--main-black-color);
  font-weight: 400;
}
#mainNavbar .nav-link:hover {
  color: var(--secondary-black-color);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

#mainNavbar .navbar-brand {
  color: var(--main-black-color);
  font-size: 1.85rem;
  font-family: cursive;
  font-weight: 500;
}

#mainNavbar .navbar-brand:hover {
  color: var(--secondary-black-color);
  font-weight: 400;
  transition: 0.2s ease-in-out;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 3.75rem;
}

.imgContainer {
  background: url(/images/helpfulpc.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  margin-bottom: 15px;
  opacity: 0;
}

.imgContainer2 {
  background: url(/images/educational.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 15px;
  transform: translateX(-100px);
  opacity: 0;
}

.imgContainer3 {
  background: url(/images/funBallons.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  transform: translateY(100px);
  opacity: 0;
}

.textBlock {
  margin-top: 150px;
  width: 60%;
}

.textBlockMainHeading {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  color: var(--main-black-color);
}

.textBlockParagraph {
  font-size: 3.35rem;
  font-weight: 900;
  color: var(--main-black-color);
}

span.outlines {
  font-size: 3.35rem;
  color: var(--secondary-yellow-color);
  transition: all 0.2s ease-in-out;
}

span.outlines:hover {
  font-size: 3.5rem;
  color: var(--main-orange-color);
}

.yellowBlock {
  height: 100vh;
  background: var(--main-yellow-color);
}

.yellow {
  background: var(--main-yellow-color);
  padding-bottom: 100px;
}

.blueBlock {
  height: 100vh;
  background: var(--main-blue-color);
}

.redishBlock {
  height: 100vh;
  background: var(--main-burgundy-color);
}

.redish {
  background: var(--main-burgundy-color);
  padding-bottom: 100px;
}

.redishHiLite {
  background: var(--main-burgundy-color);
  padding-bottom: 16px;
}

.lightestBlock {
  background: var(--main-white-color);
  height: 100vh;
}

.lightest {
  background: var(--main-white-color);
  padding-bottom: 100px;
}

h3.customMT,
h2.customMT {
  font-size: 4rem;
  font-weight: 600;
}

.customMT {
  margin-top: 150px;
}

.imgHolder {
  max-width: 400px;
  min-width: 250px;
}

.imgBorder {
  outline: 2px solid black;
  box-shadow: 10px 10px black;
}

.pcDisplay {
  background-image: url(/images/pngtree-isolated-desktop-computer-icon-pc-3777007.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  max-width: 550px;
  transition: 0.85s ease-in-out;
}

.pcDisplay:hover {
  transform: scale(1.025);
}

#happyCoffeeIndexImg {
  height: 300px;
}

#contactMeIndex {
  color: var(--main-white-color) !important;
  font-size: 1.8rem;
}

.loveCoffee {
  background-image: url(/images/coffee.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  max-width: 550px;
}

.weatherPup {
  background-image: url(/images/weatherPup.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;

  max-width: 550px;
}

.helpfulClock {
  background-image: url(/images/helpfulClock.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  max-width: 550px;
}

.loveTech1 {
  background-image: url(/images/kidngrandma.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 550px;
  transition: 0.85s ease-in-out;
}

.loveTech2 {
  background-image: url(/images/happykids.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  max-width: 550px;
  transition: 0.85s ease-in-out;
}

.loveTech3 {
  background-image: url(/images/onlineLearning.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
  padding-top: 100px;
  max-width: 550px;
  transition: 0.85s ease-in-out;
}

.myBrand {
  font-family: "Kanit", sans-serif;
  padding-left: 10px;
}

.dark__mode__moon {
  margin: 10px 26px;
  align-items: baseline;
}

.passionTitle {
  margin-top: 150px !important;
}

.myPassionCopy {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--main-black-color);
}

.customBorder {
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
}

.experienceBody {
  background: var(--main-yellow-color);
}

.skill {
  background-repeat: no-repeat;
  background-position: center;
  min-width: 140px !important;
  max-width: 180px;
  padding: 100px 20px;
  border: 10px solid var(--main-black-color) !important;
  border-radius: 30px !important;
}

.skill-html {
  background-image: url(/images/logos/128px-HTML5_logo.png);
  background-size: contain;
}
.skill-css {
  background-image: url(/images/logos/CSS3_logo.png);
}
.skill-bootstrap {
  background-image: url(/images/logos/bootstrap-logo.svg);
  background-size: contain;
}
.skill-javascript {
  background-image: url(/images/logos/256px-JavaScript-logo.png);
  background-size: cover;
  background-position: center;
}
.skill-github {
  background-image: url(/images/logos/Octocat.png);
  background-size: contain;
}
.skill-gsap {
  background-image: url(/images/logos/gsap-greensock.svg);
  background-size: contain;
}
.skill-netlify {
  background-image: url(/images/logos/Netlify_logo.svg);
  background-size: contain;
}
.skill-react {
  background-image: url(/images/logos/React-icon.png);
  background-size: contain;
}
.skill-inVision {
  background-image: url(/images/logos/InVision-logo-pink.svg);
  background-size: contain;
}

.skill-shecodes {
  background-image: url(/images/logos/128px-HTML5_logo.png);
  background-size: contain;
}

.aboutMeStyles {
  background: var(--main-blue-color);
}

.whiteAboutMeContainer {
  background: var(--main-white-color);
  margin-top: 100px !important;
  border-radius: 20px;
  max-width: 700px;
}

ul.aboutCopy,
li.aboutCopy {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

.aboutCopy {
  font-family: cursive;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--main-black-color);
}

.aboutImgContainer {
  background: url(/images/happyCoffee.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 160px;
  transform: scale(1.5);
}

button.contactBtn {
  background: var(--main-blue-color) !important;
  color: var(--main-white-color) !important;
  font-size: 1.8rem;
}

@media (max-width: 1359px) {
  p.textBlockParagraph {
    font-size: 2.7rem;
    font-weight: 900;
    color: var(--main-black-color);
  }

  span.outlines {
    font-size: 3.15rem;
    color: var(--secondary-yellow-color);
    transition: all 0.2s ease-in-out;
  }

  span.outlines:hover {
    font-size: 3.15rem;
    color: var(--main-orange-color);
  }
}

@media (max-width: 1085px) {
  p.textBlockParagraph {
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--main-black-color);
  }

  span.outlines {
    font-size: 2.75rem;
    color: var(--secondary-yellow-color);
    transition: all 0.2s ease-in-out;
  }

  span.outlines:hover {
    font-size: 2.75rem;
    color: var(--main-orange-color);
  }
}

@media (max-width: 928px) {
  .pcDisplay {
    background-image: url(/images/pngtree-isolated-desktop-computer-icon-pc-3777007.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid var(--main-black-color) !important;
    border-radius: 30px !important;
    padding-top: 100px;
    min-width: 250px;
    max-width: 550px;
    transition: 0.85s ease-in-out;
  }

  p.textBlockParagraph {
    font-size: 2.35rem;
    font-weight: 900;
    color: var(--main-black-color);
  }

  span.outlines {
    font-size: 2.45rem;
    color: var(--secondary-yellow-color);
    transition: all 0.2s ease-in-out;
  }

  span.outlines:hover {
    font-size: 2.45rem;
    color: var(--main-orange-color);
  }

  .aboutMeGreetings {
    text-align: center;
  }
  .aboutImgContainer {
    margin-top: 20px;
    margin-left: 35%;
  }
}

@media (max-width: 716px) {
  p.textBlockParagraph {
    font-size: 2rem;
    font-weight: 900;
    color: var(--main-black-color);
  }

  span.outlines {
    font-size: 2.25rem;
    color: var(--secondary-yellow-color);
    transition: all 0.2s ease-in-out;
  }

  span.outlines:hover {
    font-size: 2.25rem;
    color: var(--main-orange-color);
  }

  .aboutMeGreetings {
    text-align: center;
  }
  .aboutImgContainer {
    margin-top: 20px;
    margin-left: 35%;
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .aboutMeGreetings {
    text-align: center;
  }

  .aboutImgContainer {
    transform: scale(1);
    margin-top: 20px;
    margin-left: 35%;
  }

  h2.customMT {
    font-size: 3.5rem;
  }
}
